.videosection {
  position: relative;
  height: 100vh;
  .videocont {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    position: relative;
    video {
      width: 100%;
    }
  }

  .bottlecont {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    margin: auto;
    .bottleimg {
    }
  }
}
